@import "../../assets/scss/global-variables.scss";

.customer-content {
  .table-header {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    .header {
      display: flex;
      align-items: center;
    }

    .search-bar {
      display: flex;

      .dc-search {
        width: 196px;

        @media (min-width: 1920px) {
          width: 302px;
        }
      }
    }
  }

  .table-container {

    table {
      line-height: 17px !important;
      width: 100%;

      tr.mat-header-row {
        padding-top: 10px;
        height: 35px;
        background: $tr-background;
      }

      tr.customer-row:hover {
        background-color: $grey-color;
      }

      tr.customer-row.mat-footer-row,
      tr.customer-row.mat-row {
        height: 40px;
        cursor: pointer;
      }

      .no-data-row {
        height: 198px;

        .no-data-cell {
          text-align: center;
        }
          .no-data-cell > span {
            display: block;
            margin-top: 4px;
          }
          .no-data-cell > span.retry {
            display: block;
            cursor: pointer;
          }
      }

      th.mat-header-cell {
        letter-spacing: 0.3px;
        border: none;
      }

      td.mat-cell {
        border: none;
      }
    }
  }
}

.container-chips {
  padding-bottom: 10px;
  padding-top: 10px;

  .chips {
    padding: 3px 12px;
    border-radius: 16px;
    margin-right: 10px;
    color: white;
  }
}

.select {
  background: $orange-color;
  width: 197px;
  height: 32px;
  margin: 15px;
  color: white;
  border: $white-color;
  font-size: 16px;
  padding-left: 12px;
}

.select:focus {
  outline: none;
}
.options {
  border: none;
}
